.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    margin-left: 10px;
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 22px;
        font-family: "Gill Sans";
        font-weight: 500;
    }

    .logo {
        padding-top: 40px;
        width: 35%;
        height: auto;

    }
}

.nav-links {
    display: flex;
    flex-direction: row;
    margin-right: 15%;

    .about-container {
        margin-right: 80px;

        h2 {
            font-size: 18px;
            font-family: "Gill Sans";
            font-weight: 600;
        }
    }

    .contact-container {
        h2 {
            font-size: 18px;
            font-family: "Gill Sans";
            font-weight: 600;
        }
    }
}